<div id="formtastic_container" class="line">
  <div id = "download_form">
    <%= semantic_form_for [@resume] do |f| %>  
      <%= f.semantic_fields_for :displays do |display| %>
        <%= render 'display_fields', f: display %>
      <% end %>
      <%= f.actions %>
    <% end %>
  </div>
</div>