<% if demonstration.experience.category == "skill" %>
  <li class="skill" title="<%= "#{demonstration.tag_list.to_s}" %>"><%= demonstration.skill_display.html_safe %></li>
<% else %>
  <li title="<%= "#{demonstration.tag_list.to_s}" %>"><%= demonstration.description %></li>
<% end %>

