<!--#Display Header Partial-->
<%= render partial: "header", locals: {header: @resume} %>

<!--#Display Experiences Partial Collection-->

<% @experiences_collections.each do |collection| %>
  <h2>Label That Will Change Eventually</h2>
  <%= render partial: "experience", collection: collection %>
<% end %>

