<!--#Display Header Partial-->
<%= render partial: "header", locals: {header: @resume} %>

<!--#Display Experiences Partial Collection-->

<% @experiences_collections.each do |collection| %>
  <% if collection.first %>
    <h2><%= collection.first.category_name %></h2>
    <%= render partial: "experience", collection: collection %>
  <% end %>
<% end %>

